.product {
  display: flex;
  flex-direction: column;
  padding: 14px;
  width: $productWidth;
  background-color: $whiteColor;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    display: flex;
    justify-content: center;
    margin: 15px 5px 45px;
    width: 160px;
    height: 134px;
    transition: transform 400ms;

    &:hover {
      box-sizing: content-box;
      transform: scale(1.2);
      border: 3px solid #f3f3f3;
      padding: 12px 0;
      margin: 0 2px 30px;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  &__item-title {
    @include font (500, 12);
    padding-bottom: 6px;
    line-height: 15px;
  }
  
  &__feedback {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  &__price-block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
  }
  
  &__price-number {
    @include font (700, 16);
  }
  
  &__buy-button {
    display: flex;
  }
  
  &__button {
    text-align: center;
    @include font (700, 14);
    line-height: 38px;
    width: 100%;
    border: 1px solid $blueColor;
    border-radius: 5px;
    background-color: $blueColor;
    color: $whiteColor;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s;
  }
  
  &__button:hover {
    color: $blueColor;
    background-color: $whiteColor;
  }
  
  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  }
}
